input[type="text"],
input[type="email"] {
  border: none;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
  background-color: inherit;
  color: black;
}

table tbody tr input[type="text"]:enabled,
input[type="email"]:enabled {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 0px 10px 3px;
}

.checked-row {
  background-color: rgb(211, 211, 211);
}

.unchecked-row {
  background-color: white;
}

.tableHeader {
  background-color: white;
}

.tableHeader th {
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  tbody tr td {
    padding: 0 10px 0 10px !important;
  }
  h1 {
    font-size: 1.5rem;
  }
}
